<div id="<%= product.id %>">
  <div class="m-2">
    <div class="card">
      <% if product.image.attached? %>
        <%=image_tag product.image, class: 'card-img-top'%>
      <%else%>
        <img src="/noimage.jpg" class="card-img-top" alt="...">
      <%end%>
      <div class="card-body">
        <h5 class="card-title"><%= product.name %></h5>
        <p class="card-text">
          <b>$<%= product.price %></b>
        </p>
        <%= link_to "Ver más", product, class: 'btn btn-primary' %>
        <% if user_signed_in? %>
          <a href="#" class="btn btn-warning" title="Añadir a carrito">
            <i class="bi bi-cart-plus"></i>
          </a>
        <% end %>
      </div>
    </div>
  </div>
 

</div>
