<p style="color: green"><%= notice %></p>

<div class="row">
  <div class="col-10 offset-1 col-md-4 offset-md-4">
    <%= render @product %>
    <div>
      <%= link_to "Edit this product", edit_product_path(@product) %> |
      <%= link_to "Back to products", products_path %>

      <%= button_to "Destroy this product", @product, method: :delete %>
    </div>
  </div>
</div>

